body{
    margin:0;

}
.top-container{
    background-image: url("https://media.istockphoto.com/photos/pressing-enter-button-picture-id479157044?b=1&k=20&m=479157044&s=170667a&w=0&h=RYGk5WZ61jKxkdciwdcKkSwv8hMwvYum8wRmLrzh5sU=");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top-container h1{
    color:brown;
    font-size: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
.text{

    font-family: sans-serif;
    margin: 50px 5%;
}
.navbar{
    display:flex;
    position:fixed;
    background-color: rgb(252, 250, 250);
    width:100%;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0 ,0 ,0,0.3);
    transition: background-color 0.8s;
}
.navbar ul{
    display:flex;
    list-style-type: none;
    
}
.navbar ul li a{
    text-decoration: none;
    margin: 0 5px;
    color: black;
    font-family: cursive;
}
.navbar ul li a:hover{
    color:blue;
}
.navbar.active{
    background-color: black;
}
.navbar.active ul li a{
    
    color:white;
}